{% if site.formspree.endpoint %}
<div class="ap-form-container">
    <form action="{{site.formspree.endpoint}}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Full Name">
        <label for="email">Email</label>
        <input type="email" name="_replyto" id="email" placeholder="Your Email Address">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" placeholder="Subject">
        <label for="description">Description</label>
        <textarea name="body" id="message" placeholder="Your Message" rows="5"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}