---
layout: default
---
<div class="ap-career-objective">
    {{site.career-objective}}
</div>

{% if site.collection_option['experience']['visibility'] == true %}
<div class="ap-line"></div>
<!-- WORK EXPERIENCE -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['experience']['label']}}</p>
    {% for experience in site.experience %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}, <a href="{{experience.institute-url}}">{{experience.institute}}</a></p>
        <p class="ap-experience-year">{{experience.duration}}</p>
        <p class="ap-experience-excerpt">{{experience.excerpt}}</p>
        <p class="ap-experience-tags">
            {% for tag in experience.tags %}
            <span class="ap-experience-chip">{{tag}}</span>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['education']['visibility'] == true %}
<div class="ap-line"></div>
<!-- EDUCATION -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['education']['label']}}</p>
    {% for education in site.education %}
    <div class="ap-education">
        <p class="ap-education-degree">{{education.degree}}</p>
        <p class="ap-education-institute">{{education.institute}}</p>
        <p class="ap-education-year">{{education.duration}}</p>
        <p class="ap-education-excerpt">{{education.excerpt}}</p>
    </div>
    {% endfor %}

</div>
{% endif %}

{% if site.collection_option['skills']['visibility'] == true %}
<div class="ap-line"></div>
<!-- SKILLS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['skills']['label']}}</p>
    {% for skill in site.skills %}
    <div class="ap-skill">
        <p class="ap-skill-category">{{skill.category}}</p>
        <p class="ap-skill-details">{{skill.details}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['projects']['visibility'] == true %}
<div class="ap-line"></div>
<!-- PROJECTS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['projects']['label']}}</p>
    {% for project in site.projects reversed %}
    <div class="ap-project">
        <a class="ap-project-title" href="{{project.url}}">{{project.title}}</a>
        <p class="ap-project-year">{{project.year}}</p>
        <p class="ap-project-excerpt">{{project.excerpt}}</p>
        <p class="ap-project-tags">
            {% for tag in project.tags %}
            <span class="ap-project-chip">{{tag}}</span>
            {% endfor %}
        </p>
    </div>
    {% endfor %}

</div>
{% endif %}

{% if site.collection_option['publications']['visibility'] == true %}
<div class="ap-line"></div>
<!-- PUBLICATIONS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['publications']['label']}}</p>
    {% for publication in site.publications reversed %}
    <div class="ap-publication">
        <a class="ap-publication-title" href="{{publication.url}}">{{publication.title}}</a>
        <p class="ap-publication-year">{{publication.year}}</p>
        <p class="ap-publication-excerpt">{{publication.excerpt}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['volunteerexperience']['visibility'] == true %}
<div class="ap-line"></div>
<!-- VOLUNTEER EXPERIENCE -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['volunteerexperience']['label']}}</p>
    {% for experience in site.volunteerexperience %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}</p>
        <p class="ap-experience-year">{{experience.duration}}</p>
        <p class="ap-experience-excerpt">{{experience.excerpt}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['certifications']['visibility'] == true %}
<div class="ap-line"></div>
<!-- CERTIFICATIONS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['certifications']['label']}}</p>
    {% for certificate in site.certifications reversed %}
    <div class="ap-certification">
        <a class="ap-certification-title" href="{{certificate.certificate_url}}"
            target="_blank">{{certificate.title}}</a>
        <p class="ap-certification-institute">{{certificate.institute}}</p>
        <p class="ap-certification-year">{{certificate.year}}</p>
        <p class="ap-certification-excerpt">{{certificate.excerpt}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['achievements']['visibility'] == true %}
<div class="ap-line"></div>
<!-- ACHIEVEMENTS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['achievements']['label']}}</p>
    {% for achievement in site.achievements reversed %}
    <div class="ap-achievement">
        <p class="ap-achievement-title">{{achievement.title}}</p>
        <p class="ap-achievement-year">{{achievement.year}}</p>
        <p class="ap-achievement-excerpt">{{achievement.excerpt}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
